- if (owner == undefined)
  owner = {email: '', password: ''}
section#login
  header Sign in
  div.section-body
    form(method="POST", action="/auth/login")
      div.form-field
        label Email:
        input(type="text", name="owner[email]", value=owner.email, required, autofocus)
      div.form-field
        label Password:
        input(type="password", name="owner[password]", required)
      div.form-actions
        input(type="submit", value="Login")
    div  Don't have an account?
      a(href="/auth/signup") Join
      |  today!
