include _menu

section#main
  div.client-edit
    header Create client
    div.section-body
      form(method='POST', action='/owner/clients/create')
        div.form-field
          label Domain
          input(type='text', name='client[domain]')
        div.form-actions
          input(type='submit', value='Create')

  - if (clients)
    each client in clients
      div.client-read
        Hello
        = client.domain
