nav#main
  - if (_auth_owner != null)
    = 'Welcome, ' + _auth_owner.email
  a(href="/") Home
  - if (_auth_owner != null)
    a(href="/contacts") Contacts
    a(href="/owner/profile") Profile
    a(href="/auth/logout") Logout
