@import "common"

.contact-read
  display inline-block
  width 302px
  margin 5px
  background-color #FFF
  b-r 5px
  b-s 1px 1px 3px #888
  border-color #AAA
  vertical-align top
  dl
    margin 0.5em 0
    dt
      display inline-block
      text-transform capitalize
      width 80px
    dd
      display inline-block
      margin-left 0
  div.toggle
    text-align right
    font-size 0.8em
    cursor pointer
  .message
    display none
    .subject
      font-style italic
    .content
      margin-left 16px
  .tag
    display inline-block
    margin-right 5px
    border-bottom 3px solid red
    font-size 0.9em
    .tag-remove
      margin-left 5px
      font-size 0.8em
      color #AAA
      cursor pointer
  .action-add-tag
    display inline-block
    text-align right
    float right
    .action-add-tag-input
      margin-right -3px

.contact-form
  width 400px
  b-r 5px
  b-s 1px 1px 3px #888
  border-color #AAA

footer
  min-height 20px
  unread
    border-color #F00
    border-width 2px

.tag-read
  display inline-block
  margin-right 10px
  padding 3px 5px
  b-r 5px
  b-s 1px 1px 3px #888
  border-color #AAA
  a
    color black
