body{padding:10px 50px;font:14px Helvetica,Arial,sans-serif;background-color:#fff}
a{color:#00b7ff}
input{margin:3px;border:1px solid;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:18px}
input[type="submit"],button{background-color:#eee;border-color:#aaa;height:24px}
nav,aside{padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:1px 1px 3px #888;-moz-box-shadow:1px 1px 3px #888;box-shadow:1px 1px 3px #888;background-color:#fff;border-color:#aaa;}
nav a,aside a{padding:0 10px}
nav#main-menu{text-align:right}
div.section-body{padding:5px}
header{-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;padding:5px;background:-webkit-linear-gradient(top, #FFF, #e6e9f2);background:-moz-linear-gradient(top, #FFF, #e6e9f2);background:linear-gradient(top, #e6e9f2);background-color:#e6e9f2;color:#555;font-size:18px;text-align:center;letter-spacing:.1em}
footer{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;padding:5px;border-top:1px solid #aaa}
div.section-title{font-size:16px;letter-spacing:.1em}
div.line{margin:0 50px;border-bottom:1px solid #888}
section#main{padding:5px 5px 20px 5px}
span.space{display:inline-block;width:5px;height:5px}
div.form-field label{display:inline-block;width:80px;vertical-align:top;margin-top:5px}
div.form-field input,div.form-field textarea{width:200px}
div.form-field textarea{height:80px}
div.form-actions{text-align:right}
#container{margin:0 auto;width:950px}
#login,#signup{width:320px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:1px 1px 3px #888;-moz-box-shadow:1px 1px 3px #888;box-shadow:1px 1px 3px #888;border-color:#aaa}
