b-r()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

b-s()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

body
  padding 10px 50px
  font 14px Helvetica, Arial, sans-serif
  background-color #FFF

a
  color #00B7FF

input
  margin 3px
  border 1px solid
  b-r 3px
  height 18px

input[type="submit"], button
  background-color #EEE
  border-color #AAA
  height: 24px

nav, section, aside
  background-color #FFF
  b-r 5px
  b-s 0 0 3px #888
  border-color #AAA

nav, aside, div.section-body
  padding 5px

section header
  b-r 5px 5px 0 0
  padding 5px
  background-color #E6E9F2
  //background-color #D3D8E8
  color #555
  font-size 18px
  text-align center
  letter-spacing 0.1em
  //background -webkit-linear-gradient(top, white, #D3D8E8)

nav#main
  text-align right

nav a
  padding 0 10px

section#main
  padding 5px
  background-color #EEE
  b-r 3px

span.space
  display inline-block
  width 5px
  height 5px

form div.form-field label
  display inline-block

form div.form-actions
  text-align right

div.form-field label
  width 100px
  vertical-align top

div.form-field input, div.form-field textarea
  width 200px

div.form-field textarea
  height 80px

#container
  margin 0 auto
  width 950px

#login, #signup, .contact-form
  width 320px
  border 1px solid #AAAAAA

