@import "common"

body
  padding 10px 50px
  font 14px Helvetica, Arial, sans-serif
  background-color #FFF

a
  color #00B7FF

input
  margin 3px
  border 1px solid
  b-r 3px
  height 18px

input[type="submit"], button
  background-color #EEE
  border-color #AAA
  height: 24px

nav, aside
  padding 5px
  b-r 5px
  b-s 1px 1px 3px #888
  background-color #FFF
  border-color #AAA
  a
    padding 0 10px

nav#main-menu
    text-align right

div.section-body
  padding 5px

header
  b-r 5px 5px 0 0
  padding 5px
  bg-l-g (#E6E9F2)
  color #555
  font-size 18px
  text-align center
  letter-spacing 0.1em

footer
  b-r 0 0 5px 5px
  padding 5px
  border-top 1px solid #AAA

div.section-title
  font-size 16px
  letter-spacing 0.1em

div.line
  margin 0 50px
  border-bottom 1px solid #888

section#main
  padding 5px 5px 20px 5px

span.space
  display inline-block
  width 5px
  height 5px

div.form-field
  label
    display inline-block
    width 80px
    vertical-align top
    margin-top 5px
  input, textarea
    width 200px
  textarea
    height 80px

div.form-actions
  text-align right

#container
  margin 0 auto
  width 950px

#login, #signup
  width 320px
  b-r 5px
  b-s 1px 1px 3px #888
  border-color #AAA
