body{padding:10px 50px;font:14px Helvetica,Arial,sans-serif;background-color:#fff}
a{color:#00b7ff}
input{margin:3px;border:1px solid;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;height:18px}
input[type="submit"],button{background-color:#eee;border-color:#aaa;height:24px}
nav,section,aside{padding:5px;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 3px #888;-moz-box-shadow:0 0 3px #888;box-shadow:0 0 3px #888;border-color:#aaa}
nav#main{text-align:right}
nav a{padding:0 10px}
section#main{background-color:#eee;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
span.space{display:inline-block;width:5px;height:5px}
form header{font-size:18px}
form div.form-field label{display:inline-block}
form div.form-actions{text-align:right}
div.form-field label{width:100px;vertical-align:top}
div.form-field input,div.form-field textarea{width:200px}
div.form-field textarea{height:80px}
#container{margin:0 auto;width:950px}
#login,div.contact-form{padding:5px;width:320px;border:1px solid #aaa;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
