b-r()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  padding 10px 50px
  font 14px Helvetica, Arial, sans-serif

a
  color #00B7FF

input
  margin 3px
  border 1px solid
  b-r 3px
  height 18px

input[type="submit"], button
  background-color #EEE
  border-color: #AAA
  height: 24px

nav
  padding: 5px
  text-align: right
  background-color: #EEE
  border-color: #AAA

nav a
  padding: 0 10px;

form header
  font-size 18px

form div.form-field label
  display inline-block

form div.form-actions
  text-align right

#container
  margin 0 auto
  width 950px

#login
  padding 5px
  width 320px
  border 1px solid #AAAAAA
  b-r 5px

#login div.form-field label
  width 100px

#login div.form-field input
  width 200px
